
.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: 50%;
    background-color: #adb5bd;
    align-items: center;
    justify-content: center;
    }
    
    .avatar img {
    width: 100%;
    border-radius: 50%;
    }
    
    .avatar-sm {
    font-size: .875rem;
    width: 36px;
    height: 36px;
    }